* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.opening {
  text-align: center;
  margin-top: 200px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


p {
  font-size: 25px;
}

h1 {
  font-size: 100px;
}

.app {
  width: 100%;
  height: 100vh; 
  /* height: 100%;  */
  position: relative;
  color: white;
}

body {
  content: '';
  background: url('../assets/weather.jpg') no-repeat fixed center/cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* .app::before {
  content: '';
  background: url('../assets/weather.jpg') no-repeat fixed center/cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
} */



.container {
  max-width: 700px;
  height: 100vh;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.top {
  width: 100%;
  margin: 5px auto;
}


.bottom {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(183, 180, 180, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: relative;
  margin-bottom: 20px;
}

.bold {
  font-weight: 900;
}

.search{
  text-align: center;
  padding: 35px;
}

.search > input {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid rgba(163, 159, 159, 0.2);
  background: rgba(38, 34, 34, 0.2);
  color: white;
}

::placeholder {
  color: white;
}

.logo{
  width: 200px;
  height: 200px;
  margin: 150px 0px;
}

